.filter{
  flex: 0 0 194px;
}
.restaurantFilter {
  color: var(--helio-color-primaryText);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  margin-bottom: var(--helio-space-S);
  margin-top: 0;
}

.filterList {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: var(--helio-color-primaryText);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.29;
  margin: 0;
}

.filterItem{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E4E4E4FF;
  padding-bottom: 8px;
  padding-top: 8px;
  width: 100%;
}
.filterBTN{
   margin-right: 10px;
   margin-left: 10px;
  }